#container {
    margin: auto;
    font-family: Arial, "Segoe UI", Verdana, sans-serif;
}

#name {
    margin: 0px 0px 0.67em 0px;
}

#avatar {
   
    margin: 0px 30px;
}

pre {
    margin: 0px;
}

td {
    vertical-align: top;
}

li {
    font-style: italic;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

a {
    text-decoration: none;
    font-weight: bold;
}