#container {
    margin: auto;
    font-family: Arial, "Segoe UI", Verdana, sans-serif;
}

#name {
    margin: 0px 0px 0.67em 0px;
}
#code {
    background-color:#ddd6d6;
    border: none;
    padding: 16px;
    margin: 0px;
    font-family: monospace;
}

#avatar {
   
    margin: 0px 30px;
}

pre {
    margin: 0px;
}

td {
    vertical-align: top;
}

li {
    font-style: italic;
}

.italic {
    font-style: italic;
}