#container {
    margin: auto;
    font-family: Arial, "Segoe UI", Verdana, sans-serif;
}

#code {
    background-color:#ddd6d6;
    border: none;
    padding: 16px;
    margin: 0px;
    font-family: monospace;
}

#avatar {
    float: right;
    margin: 0px 30px 30px 30px;
}

pre {
    margin: 0px;
}